
@import '../../styles/vendors/include-media';
@import '../../styles/shared/breakpoints';
@import '../../styles/shared/layout';
@import '../../styles/shared/sizing';
@import '../../styles/shared/typography';

.root {
  @extend %layout-page--side-only;
  margin-top: 40px;
}

  .content {
    @extend %layout-full-page__content;
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include media('<=singleLayout') {
      display: block;
    }

  }

    .project-wrapper {
      flex: 1;
      padding: 0 20px;

      @include media('<=singleLayout') {
        flex: auto;
        margin-top: 40px;

        &:first-of-type {
          margin-top: 0;
        }

      }

    }