
@import '../vendors/include-media';
@import './breakpoints';
@import '../mixins/default';
@import './block';

%info-block {
  @extend %common-block;
  padding: 30px 20px;
  min-height: 230px;

  @include media('<=singleLayout') {
    min-height: 0;
  }

}