
@import '../variables/colors';

%font--default {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

%font--heading {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

%heading-site {
  @extend %font--heading;
  color: $color-darkest;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

%heading-major {
  @extend %font--heading;
  color: $color-medium;
  font-size: 2rem;
  font-weight: 300;
}

%heading-medium {
  @extend %font--heading;
  color: $color-light;
  font-size: 2rem;
  font-weight: 300;
}

%heading--list-title {
  @extend %font--heading;
  color: $color-light;
  font-size: 1.2rem;
  font-weight: 300;
}

%heading-project {
  @extend %font--heading;
  font-size: 1.2rem;
  font-weight: 300;
}

%heading-sml-medium {
  @extend %font--heading;
  color: $color-med-light;
  font-size: .8rem;
  font-weight: 700;
}

%text--small {
  font-size: .8rem;
  line-height: 1.5rem;
}