@import '../../styles/shared/layout';
@import '../../styles/shared/sizing';
@import '../../styles/shared/typography';

.root {
  @extend %layout-page--side-only;
  margin-top: 40px;
}

  .content {
    @extend %layout-full-page__content;
    display: flex;
    padding: 0;
  }

    .left-info,
    .right-info {
      width: 25%;
    }

    .left-info {
      padding: 0 20px;
    }

    .middle-info {
      width: 50%;
      padding: 0 20px;
    }

    .right-info {
      padding: 0 20px;
    }