
@import '../../styles/vendors/include-media';
@import '../../styles/shared/breakpoints';
@import '../../styles/mixins/default';
@import '../../styles/shared/common';
@import '../../styles/shared/layout';
@import '../../styles/shared/sizing';
@import '../../styles/shared/typography';

.root {
  @extend %layout-page--side-only;
}

  .content {
    @extend %clearfix;
    @extend %layout-full-page__content;
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include media('<=singleLayout') {
      display: block;
    }

  }

    .info-block-wrapper {
      flex: 1;
      padding: 0 20px;

      @include media('<=singleLayout') {
        flex: auto;
        float: left;
        width: 50%;
        margin-top: 40px;

        &:first-of-type {
          margin-top: 0;
        }

        &:nth-of-type(3n) {
          margin-top: 0;
        }

      }

    }

    .info-block {
    }