
@import '../variables/typography';
@import '../shared/typography';

body {
  @extend %font--default;
  color: $color-darkest;
  font-family: $typography-base-fontsize;
}

button,
label {
  @extend %font--default;
}

a {
  color: inherit;
  text-decoration: none;
}