
@import '../../styles/mixins/default';
@import '../../styles/variables/colors';

.Social {
}

  $social____color: $color-light;
  $social____color--hover: $color-medium;
  .social-option {
    color: $social____color;
    margin-top: 10px;

    > a {

      &:hover {

        .text {
          color: $color-vibrant;
        }

      }

    }

    &:first-of-type {
      margin-top: 0;
    }

  }

    $icon____size: 26px;
    .icon {
      @include border-radius(50%);
      border: 2px solid $color-faint;
      display: inline-block;
      font-size: 11px;
      height: $icon____size;
      line-height: $icon____size - 4px;
      margin-right: 8px;
      text-align: center;
      width: $icon____size;
    }

    .text {
      display: inline-block;
      font-size: 12px;
      line-height: $icon____size - 1px;
    }
