
@import '../../styles/shared/typography';
@import '../../styles/shared/info-block';

.root {
  @extend %info-block;
}

  .title {
    @extend %heading--list-title;
    margin-bottom: 14px;
  }

  .list {

    > li {
      margin-top: 12px;

      &:first-of-type {
        margin-top: 0;
      }

    }

  }

    .itemTitle {
      font-size: .8rem;
      font-weight: 700;
    }

    .itemSubtitle {
      font-size: .8rem;
      margin-top: 5px;
    }