@import '../../styles/mixins/default';
@import '../../styles/shared/layout';
@import '../../styles/shared/sizing';
@import '../../styles/shared/typography';

.root {
  @extend %layout-full-page;
}

  $content____padding: $general-content-padding;
  .content {
    @extend %layout-full-page__content;
    @include border-radius(3px);
    background-color: #efefef;
  }

  .text-wrapper {
    margin: 150px 0 (150px - 88px) 0;
  }

    .author-title {
      @extend %heading-major;
    }

    .main-title {
      @extend %heading-site;
      margin: 10px 0;
    }

    .sub-title {
      @extend %heading-medium;
    }

    .social-wrapper {
      margin-top: 20px;
    }

  .nav-wrapper {
    position: absolute;
    left: $content____padding;
    top: $content____padding;
  }